body{
	/*background-image: url(img.jpg);*/
 background: #003973;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 color: black;
}
.div{
	/*padding-left: 10px;*/
	/*width: 70%;*/
	text-align: center;
	
}
.students{
	text-align: center;
		font-family: 'Slabo 27px', serif;
	font-size: 40px;
	padding-bottom: 30px;

}
.students li{
	text-align: center;
	list-style: none;
}
h1{
	text-align: center;
}
#na {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      
    }
.ba {
        font-size: 20px;
        
}

 li {
        float: left;
    }

 li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 60px;
        text-decoration: none;
    }

li a:hover {
        background-color: #6E6E6E;
        color: white;
    }
#ta{
	padding-top: 50px;
	padding-left: 20px;
}
#info
{
	padding-top: 30px;
	font-family: 'Slabo 27px', serif;
	font-size: 40px;
	padding-bottom: 30px;
}
#img{
	padding-top: 20px;
}
footer{
	bottom: 0;
	position: fixed;
	height: 50px;
	width: 100%;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	/*padding: 6px 40px 6px 40px;*/
	background-color: #d6d6d6 ;
	/*margin-right: auto;
	margin-left: : auto;
*/
}

#form{
	text-align: left;
	width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
}

#form input{
	text-align: center;
	height: 40px; width: 250px;
	border-radius: 10px;
}
#form #msg{
	height: 100px;
}
.title{
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 60px;
	/*margin-bottom: 100px;*/
}
.titlehi{
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 60px;
	/*margin-bottom: 100px;*/
	color: white;
}
#bt{

}
#demo{
	padding-top: 20px;
}
.pad{
	padding-bottom: 20px;
}
